.subject1 {
  display: block;
  background-color: #f7b617;
  height: 100px;
  padding-top: 10px;
  padding-left: 10px;
}

.verb1 {
  display: block;
  background-color: #262626;
  height: 110px;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

.pronoun1 {
  display: block;
  background-color: #f7b617;
  height: 100px;
  padding-top: 10px;
  padding-left: 10px;
}

.subject2 {
  display: block;
  width: 300px ;
  height: 100px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #f7b617;
}

.verb2 {
  display: block;
  color: white;
  width: 300px;
  height: 100px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #262626;
}

.pronoun2 {
  display: block;;
  width: 300px;
  height: 100px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #f7b617;
}

.subject3 {
  background-color: #f7b617;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  width: 200px;
  height: 100px;
}

.verb3 {
  background-color: #262626;
  display: inline-block;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  width: 200px;
  height: 100px;
}

.pronoun3 {
  background-color: #f7b617;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  width: 200px;
  height: 100px;
}

.subject4 {
  background-color: #f7b617;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  width: 90px;
  height: 40px;
}

.verb4 {
  background-color: #262626;
  display: inline-block;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  width: 50px;
  height: 40px;
}

.pronoun4 {
  background-color: #f7b617;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  width: 160px;
  height: 40px;
}
